body{
	font-family: Arial, Helvetica, Georgia, Sans-serif;
	font-size: 14px;
	background: #fff;
	color: #000;
	font-size:;
}

a {
	color: #000;
}

a:hover{
	color: #5f5f5f;
}
	
#wrapper{

	position: relative;
	margin: 0 auto;
	width: 960px;
	background: #ccc;
}

#header{
	
}

/* Top Navigation */

.topNav{
	position: relative;
}

.topNav ul{
	list-style-type:none;
	padding:0;
	margin:0;
	height:40px;
	background: #000;
}

.topNav li{
	position: relative;
	float:left;
}

.topNav a{
	display:block;
	text-decoration:none;
	color:#fff;
	padding:0 15px 10px 0;
	font-size:13px; 
	font-weight:bold;
}

.topNav li ul{
	display:none;
	top:40px;
	position:absolute;
	z-index:99999;
	background: #212121;
}

.topNav li:hover ul {
	display:block;
}


/* Main Content */

#mainContent {

}

#content {
	float: left;
	width: 520px;
}

#sidebar{
	list-style-type:none;
	margin:0;
	padding:0;
	float: right;
	width: 200px;
}

#sidebar li{

}

#sidebar li ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#sidebar li ul li{

}

#sidebar li a{

}

/* Footer */

#footer{
	background: #ccc;
}

.footerBucket {
	float:left;
	width:160px;
	margin-right:10px;
}

.footerBucket ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

/* Comments */

.gravatar{
	float: right;
}

.comments-template{
	margin: 10px 0 0;
	padding: 30px 0 0;
}

.comments-template ol{
	margin: 0;
	padding: 0 0 15px;
	list-style: none;
}

.comments-template ol li{
	margin: 10px 0 0;
	line-height: 18px;
	padding: 0 0 10px;
	border-bottom: 1px solid #ccc;
}

.comments-template textarea{
	width: 500px;
}

.wp-caption {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; /* optional rounded corners for browsers that support it */
  margin: 10px;
  padding-top: 4px;
  text-align: center;
}

.wp-caption img {
  border: 0 none;
  margin: 0;
  padding: 0;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}